# TODO: fix this service file
[Unit]
Description=Apache Knox Gateway
After=network.target

[Service]
Type=idle
User=knox
Group=knox
ExecStartPre=/usr/local/bin/gateway.sh clean
ExecStart=/usr/local/bin/gateway.sh start
ExecStop=/usr/local/bin/gateway.sh stop
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target

# Reference: https://knox.apache.org/books/knox-1-3-0/user-guide.html#Introduction
